/*
======================================================================
    Nextflow config file for running CI-tests with nf-test
======================================================================
*/
// Resource limits for nextflow >= 24.04.0 and we require 24.10.0 so good to use
process {
    resourceLimits = [
        cpus: 2,
        memory: '8.GB',
        time: '1.h'
    ]
}

// Remove gzipping on IRIDA-Next json to look at file contents easier
iridanext.output.path = "${params.outdir}/iridanext.output.json"
