// IRIDA Next Config
iridanext {
    enabled = true
    output {
        path = "${params.outdir}/iridanext.output.json.gz"
        overwrite = true
        metadata {
            samples {
                ignore = ["sample"]
                csv {
                    path = "**/overall.qc.csv"
                    idcol = "irida_id"
                }
            }
        }
    }
}
