// IRIDA Next Config
iridanext {
    enabled = true
    output {
        path = "${params.outdir}/iridanext.output.json.gz"
        overwrite = true
        files {
            idkey = "irida_id"
            global = [
                "**/reportDashboard.html",
                "**/Overall-Run-MultiQC.report.html",
                "**/pipeline_info/software_versions.yml"
            ]
            samples = [
                "**/consensus/*.consensus.fasta",
                "**/vcf/*.vcf.gz",
                "**/vcf/ivar_filtered/*.vcf.gz",
                "**/vcf/processed_vcf/*.vcf.gz",
                "**/sample_mqc/*.report.html"
            ]
        }
        metadata {
            samples {
                ignore = ["sample"]
                csv {
                    path = "**/overall.qc.csv"
                    idcol = "irida_id"
                }
            }
        }
    }
}
