/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running with minimal resources for local testing
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run phac-nml/viralassembly -profile min_resources,<docker/singularity> --outdir <OUTDIR> <PARAMS>

----------------------------------------------------------------------------------------
*/
process {
    resourceLimits = [
        cpus: 2,
        memory: '12.GB',
        time: '1.h'
    ]
}

params {
    // Config Info
    config_profile_name        = 'Minimal resource profile'
    config_profile_description = 'Minimal resource profile for local testing to check pipeline function'
}
