/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    // ~~~~~~~~~~~~~~~~~~~~~~~ //
    // Output Path Adjustments
    // ~~~~~~~~~~~~~~~~~~~~~~~ //

    withName: "ARTIC_MINION" {
        publishDir = [[
            path: { "${params.outdir}/consensus" },
            pattern: "*.consensus.fasta",
            mode: params.publish_dir_mode,
        ],
        [
            path: { "${params.outdir}/bam" },
            pattern: "*bam*",
            mode: params.publish_dir_mode,
        ],
        [
            path: { "${params.outdir}/vcf" },
            pattern: "*.pass.vcf*",
            mode: params.publish_dir_mode,
        ],
        [
            path: { "${params.outdir}/vcf" },
            pattern: "*.fail.vcf",
            mode: params.publish_dir_mode,
        ]]
    }

    withName: "ARTIC_ALIGN_TRIM" {
        publishDir = [
            path: { "${params.outdir}/bam" },
            pattern: "*trimmed.rg.sorted.bam*",
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    // Both artic and custom that removes the rg requirements
    withName: ".*_MAKE_DEPTH_MASK" {
        publishDir = [
            path: { "${params.outdir}/depth_mask" },
            pattern: "*.coverage_mask.txt",
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: BCFTOOLS_CONSENSUS {
        ext.args = { params.platform == "illumina" ? '-I' : '' }
        ext.prefix = { "${meta.id}.consensus" }
        publishDir = [
            path: { "${params.outdir}/consensus" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: "BCFTOOLS_FILTER" {
        ext.args = [
            '--output-type z',
            "--include 'FORMAT/ALT_FREQ >= 0.75'"
        ].join(' ').trim()
        ext.prefix = { "${meta.id}.consensus.filtered" }
        publishDir = [
            path: { "${params.outdir}/vcf/final" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: "BCFTOOLS_NORM" {
        publishDir = [
            path: { "${params.outdir}/vcf/final" },
            pattern: "*.consensus.norm.vcf.gz",
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: BEDTOOLS_MASKFASTA {
        publishDir = [
            path: { "${params.outdir}/consensus/mask" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: BEDTOOLS_MERGE {
        ext.prefix = { "${meta.id}.merged" }
        publishDir = [
            path: { "${params.outdir}/consensus/mask" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: "CHOPPER" {
        ext.args = "--quality 8 --minlength ${params.min_length}"
    }

    withName: "CLAIR3_VARIANTS" {
        publishDir = [
            path: { "${params.outdir}/vcf/clair3" },
            pattern: "*.vcf",
            mode: params.publish_dir_mode,
        ]
    }

    withName: "CREATE_ALL_SAMPLE_SUMMARY_REPORT" {
        publishDir = [
            path: { "${params.outdir}" },
            pattern: "reportDashboard.html",
            mode: params.publish_dir_mode,
        ]
    }

    withName: "CREATE_READ_VARIATION_CSV" {
        publishDir = [
            path: { "${params.outdir}/variation_csvs" },
            pattern: "*.csv",
            mode: params.publish_dir_mode,
        ]
    }

    withName: "CREATE_TILING_BED" {
        publishDir = [
            path: { "${params.outdir}/bed" },
            pattern: "*.bed",
            mode: params.publish_dir_mode,
        ]
    }

    withName: "CREATE_VARIANT_TSV" {
        publishDir = [
            path: { "${params.outdir}/vcf" },
            pattern: "*.vcf.tsv",
            mode: params.publish_dir_mode,
        ]
    }

    withName: CUSTOM_DUMPSOFTWAREVERSIONS {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: 'copy',
            pattern: '*_versions.yml'
        ]
    }

    withName: "CUSTOM_VCF_FILTER" {
        publishDir = [[
            path: { "${params.outdir}/vcf/clair3" },
            pattern: "*.fail.vcf",
            mode: params.publish_dir_mode
        ],
        [
            path: { "${params.outdir}/vcf/clair3" },
            pattern: "*.pass.vcf.gz",
            mode: params.publish_dir_mode
        ]]
    }

    withName: FASTP {
        ext.args = "--cut_front --cut_tail --trim_poly_x --cut_mean_quality 25 --average_qual 25 --length_required ${params.min_length}"
    }

    withName: "FINAL_QC_CSV" {
        publishDir = [
            path: { "${params.outdir}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: "FIX_VCF" {
        publishDir = [
            path: { "${params.outdir}/vcf" },
            pattern: "*.vcf.gz",
            mode: params.publish_dir_mode
        ]
    }

    withName: "FREEBAYES" {
        ext.args = '-p 1 -C 1 --pooled-continuous --standard-filters'
        publishDir = [
            path: { "${params.outdir}/vcf/freebayes" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: "GET_REF_STATS" {
        publishDir = [
            path: { "${params.outdir}/reference" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: IVAR_TRIM {
        ext.args = '-x 0 -q 25 -e'
        publishDir = [
            path: { "${params.outdir}/bam" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: "IVAR_VARIANTS" {
        ext.args = "-t '${params.min_alt_threshold_illumina}' -q 20 -G"
        ext.args2 = '--count-orphans --max-depth 0 --min-BQ 0 --no-BAQ -aa'
        publishDir = [
            path: { "${params.outdir}/vcf/ivar" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: IVAR_VARIANTS_TO_VCF {
        ext.args = { params.primer_bed ? "--ignore_strand_bias" : "" }
        publishDir = [
            path: { "${params.outdir}/vcf/ivar" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: "LONGSHOT" {
        publishDir = [
            path: { "${params.outdir}/vcf" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: MAKE_BED_MASK {
        ext.args = '-a --ignore-overlaps --count-orphans --max-depth 0 --no-BAQ --min-BQ 0'
        ext.args2 = "${params.min_depth}"
        publishDir = [
            path: { "${params.outdir}/consensus/mask" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: "MAKE_SAMPLE_QC_CSV" {
        publishDir = [
            path: { "${params.outdir}/sample_csvs" },
            pattern: "*.csv",
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: "MINIMAP2_ALIGN" {
        publishDir = [
            path: { "${params.outdir}/bam" },
            pattern: "*.sorted.bam*",
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: "MULTIQC_SAMPLE" {
        publishDir = [
            path: { "${params.outdir}/sample_mqc" },
            pattern: "*.html",
            mode: params.publish_dir_mode,
        ]
    }

    withName: "MULTIQC_OVERALL" {
        publishDir = [
            path: { "${params.outdir}" },
            pattern: "*.html",
            mode: params.publish_dir_mode,
        ]
    }

    withName: "NEXTCLADE_DATASETGET" {
        publishDir = [
            path: { "${params.outdir}/nextclade" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: "NEXTCLADE_RUN" {
        publishDir = [
            path: { "${params.outdir}/nextclade" },
            pattern: "*.csv",
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: "PANGOLIN_*" {
        container = {
            workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ?
            'https://depot.galaxyproject.org/singularity/pangolin:4.3.4--pyhdfd78af_1' :
            'biocontainers/pangolin:4.3.4--pyhdfd78af_1'
        }
    }

    withName: "PASS_VCF" {
        publishDir = [
            path: { "${params.outdir}/vcf" },
            pattern: "*.vcf.gz",
            mode: params.publish_dir_mode
        ]
    }

    withName: "PRIMALBEDTOOLS_AMPLICON" {
        publishDir = [
            path: { "${params.outdir}/bed" },
            pattern: "*.bed",
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: "PROCESS_VCF" {
        publishDir = [
            path: { "${params.outdir}/vcf/final" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: SAMTOOLS_SORT {
        ext.prefix = { "${meta.id}.sorted" }
        publishDir = [
            path: { "${params.outdir}/bam" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: "SNPEFF_DATABASE" {
        publishDir = [
            path: { "${params.outdir}/snpeff/database" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: "SNPEFF_ANNOTATE" {
        publishDir = [[
            path: { "${params.outdir}/snpeff" },
            pattern: "*.csv",
            mode: params.publish_dir_mode,
        ],
        [
            path: { "${params.outdir}/snpeff" },
            pattern: "*.vcf",
            mode: params.publish_dir_mode,
        ]]
    }

    withName: "SPLIT_BED_BY_POOL" {
        publishDir = [
            path: { "${params.outdir}/bed" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: 'TABIX_TABIX' {
        ext.args = '-p vcf -f'
        publishDir = [
            path: { "${params.outdir}/vcf/ivar" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}
