/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    phac-nml/viralassembly Nextclade config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    A config file that specifies nextclade flags and preset nextclade datasets
        for specific viruses.
----------------------------------------------------------------------------------------
*/

params {
    // Nextclade flags
    nextclade_dataset_name = null
    nextclade_dataset_tag  = null
    virus_name             = null
    nextclade_dataset_dir  = null
    skip_nextclade         = false

    // Nextclade datasets
    nextclade_covid_dataset        = "nextstrain/sars-cov-2/wuhan-hu-1/orfs"
    nextclade_rsv_a_dataset        = "nextstrain/rsv/a/EPI_ISL_412866"
    nextclade_rsv_b_dataset        = "nextstrain/rsv/b/EPI_ISL_1653999"
    nextclade_mpox_dataset         = "nextstrain/mpox/all-clades"
    nextclade_ebola_dataset        = "nextstrain/orthoebolavirus/ebov"
    nextclade_sudan_dataset        = "nextstrain/orthoebolavirus/sudv"
    nextclade_measles_dataset      = "nextstrain/measles/genome/WHO-2012"
    nextclade_dengue_dataset       = "nextstrain/dengue/all"
    nextclade_yfv_dataset          = "nextstrain/yellow-fever/prM-E"
    nextclade_hmpv_dataset         = "nextstrain/hmpv/all-clades/NC_039199"
    nextclade_rubella_dataset      = "nextstrain/rubella/genome"
    nextclade_mumps_dataset        = "nextstrain/mumps/genome"
}
