// NML Cluster config file
env {
    OPENBLAS_NUM_THREADS = 1
}

params {
    // Config params
    config_profile_name = "nml"
    config_profile_description = "National Microbiology Laboratory Canada basic cluster config"
    config_profile_contact = 'Darian Hole (darian.hole@phac-aspc.gc.ca)'

    // Cluster specific params
    partition = ''
    max_retries = 3
    max_jobs = 100
}

process {
    // Base process
    executor    = "slurm"
    queue       = "${params.partition}"

    // Allow up to given retries per process - error strat is same as nf-core base config
    errorStrategy = { task.exitStatus in [143,137,104,134,139] ? 'retry' : 'finish' }
    maxRetries = params.max_retries

    // Don't spam the cluster
    queueSize = params.max_jobs
    submitRateLimit = "10sec"
}
