/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running full-size tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a full size pipeline test from cloning the repo

    Use as follows:
        nextflow run phac-nml/viralassembly -profile test_full,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Full test profile'
    config_profile_description = 'Full test dataset to check pipeline function'

    // Input data for full size test
    input = "$projectDir/.github/test-data/nanopore/input.csv"

    // Args
    variant_caller = "medaka"
    medaka_model = "r1041_e82_400bps_sup_v4.3.0"
    metadata = "$projectDir/.github/test-data/nanopore/metadata.tsv"
}
