/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running full-size tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a full size pipeline test from cloning the repo

    Use as follows:
        nextflow run phac-nml/viralassembly -profile test_full,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/
process {
    resourceLimits = [
        cpus: 2,
        memory: '8.GB',
        time: '1.h'
    ]
}

params {
    // Config Info
    config_profile_name        = 'Full test profile'
    config_profile_description = 'Full test dataset to check pipeline function'

    // Input data for full size test
    input = "$projectDir/test_data/nanopore/input.csv"

    // Args
    platform = "nanopore"
    variant_caller = "clair3"
    clair3_model = "r1041_e82_400bps_sup_v420"
    metadata = "$projectDir/test_data/nanopore/metadata.tsv"
    reference = "$projectDir/test_data/nanopore/MN908947.3.reference.fasta"
    primer_bed = "$projectDir/test_data/nanopore/primer.bed"
    virus_name = "covid"
}
