/*
 * -------------------------------------------------
 *  phac-nml/viralassembly custom profile Nextflow config file
 * -------------------------------------------------
 * Defines viral nextclade datasets.
 *  To be used for additional virus specific definitions in the future
 */

params {
    // Virus Nextclade dataset names & tags
    viruses {

        // SARS-CoV-2
        'covid' {
            nextclade_dataset_name      = 'nextstrain/sars-cov-2/wuhan-hu-1/orfs'
            nextclade_dataset_tag       = '2026-01-06--14-59-32Z'
        }

        // Respiratory syncytial virus A
        'rsv_a' {
            nextclade_dataset_name      = 'nextstrain/rsv/a/EPI_ISL_412866'
            nextclade_dataset_tag       = '2025-09-09--12-13-13Z'
        }

        // Respiratory syncytial virus B
        'rsv_b' {
            nextclade_dataset_name      = 'nextstrain/rsv/b/EPI_ISL_1653999'
            nextclade_dataset_tag       = '2025-09-09--12-13-13Z'
        }

        // Mpox
        'mpox' {
            nextclade_dataset_name      = 'nextstrain/mpox/all-clades'
            nextclade_dataset_tag       = '2025-12-16--20-07-31Z'
        }

        // Ebola
        'ebola' {
            nextclade_dataset_name      = 'nextstrain/orthoebolavirus/ebov'
            nextclade_dataset_tag       = '2025-09-24--07-29-03Z'
        }

        // Bundibugyo ebolavirus
        'bdbv' {
            nextclade_dataset_name      = 'nextstrain/orthoebolavirus/bdbv'
            nextclade_dataset_tag       = '2026-05-22--16-04-17Z'
        }

        // Sudan
        'sudan' {
            nextclade_dataset_name      = 'nextstrain/orthoebolavirus/sudv'
            nextclade_dataset_tag       = '2025-09-24--07-29-03Z'
        }

        // Measles
        'measles' {
            nextclade_dataset_name      = 'nextstrain/measles/genome/WHO-2012'
            nextclade_dataset_tag       = '2025-09-09--12-13-13Z'
        }

        // Dengue
        'dengue' {
            nextclade_dataset_name      = 'nextstrain/dengue/all'
            nextclade_dataset_tag       = '2025-09-09--12-13-13Z'
        }

        // Yellow Fever
        'yfv' {
            nextclade_dataset_name      = 'nextstrain/yellow-fever/prM-E'
            nextclade_dataset_tag       = '2025-09-09--12-13-13Z'
        }

        // Human metapneumovirus
        'hmpv' {
            nextclade_dataset_name      = 'nextstrain/hmpv/all-clades/NC_039199'
            nextclade_dataset_tag       = '2025-09-09--12-13-13Z'
        }

        // Varicella-Zoster
        'vzv' {
            nextclade_dataset_name      = 'nextstrain/herpes/vzv/NC_001348'
            nextclade_dataset_tag       = '2025-11-04--15-46-13Z'
        }

        // Rubella
        'rubella' {
            nextclade_dataset_name      = 'nextstrain/rubella/genome'
            nextclade_dataset_tag       = '2025-09-19--14-53-06Z'
        }

        // Mumps
        'mumps' {
            nextclade_dataset_name      = 'nextstrain/mumps/genome'
            nextclade_dataset_tag       = '2025-10-22--18-11-36Z'
        }

        // West Nile
        'wnv' {
            nextclade_dataset_name      = 'nextstrain/wnv/all-lineages'
            nextclade_dataset_tag       = '2026-03-04--12-40-26Z'
        }
    }
}
